@import "./_vars";

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.animateDown {
  animation: slideDown 0.5s ease forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-120%);
  }
}

.animateUp {
  animation: slideUp 0.5s ease forwards;
}

@keyframes skillSlideUp {
  from {
    height: 0%;
  }
  to {
    height: 30%;
  }
}

.animateSkillUp {
  animation: skillSlideUp 0.5s ease-out forwards;
}

@keyframes skillSlideDown {
  from {
    height: 30%;
  }
  to {
    height: 0;
  }
}

.animateSkillDown {
  animation: skillSlideDown 0.5s ease-out forwards;
}

@keyframes subtleSpinGlow {
  0% {
    transform: rotate(0deg);
    filter: drop-shadow(0 0 10px $font-secondary-color-hover);
  }
  25% {
    transform: rotate(90deg);
    filter: drop-shadow(0 0 50px $font-secondary-color);
  }
  50% {
    transform: rotate(180deg);
    filter: drop-shadow(0 0 10px $font-secondary-color-hover);
  }
  75% {
    transform: rotate(270deg);
    filter: drop-shadow(0 0 50px $font-secondary-color);
  }
  100% {
    transform: rotate(360deg);
    filter: drop-shadow(0 0 10px $font-secondary-color-hover);
  }
}

.animateSpinGlow {
  animation: subtleSpinGlow 10s linear infinite; // Animação contínua e sutil
}
