@import "./_vars.scss";

@mixin reset() {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  color: $font-primary-color;
  a,
  a:hover {
    text-decoration: none;
    color: unset;
  }

  html,
  body {
    background-color: $rf-bg-1;
  }
}

////////////////
/// Media

@mixin mobile {
  @media screen and (max-width: $screen-mobile) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $screen-desktop) {
    @content;
  }
}
