/* =======================================================
------------------------  FONTS  -------------------------
======================================================= */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

$font-primary: "Bebas Neue", "Open Sans", sans-serif;

$font-secondary: "Manrope", "Open Sans", sans-serif;

/* =======================================================
------------------------  COLORS  ------------------------
======================================================= */
// Background
$rf-bg-1: #212121;
$rf-bg-alter: #262626;
$rf-bg-2: #3a3a3a;
$rf-bg-3: #36303a;

// Fonts
$font-primary-color: #f6f3fc;
$font-secondary-color: #853bce;
$font-secondary-color-hover: #6d30aa;
$font-paragraph-color: #c7c7c7;

// Buttons
$btn-border-primary: #853bce;
$btn-border-secondary: #222222;
$btn-color-primary: #853bce;
$btn-color-primary-hover: #6d30aa;
$btn-color-primary-active: #9241e4;
$btn-color-secondary: #2e2e2e;
$btn-color-secondary-hover: #1d1d1d;
$btn-color-secondary-active: #272626;
$btn-content-primary: #222222;
$btn-content-secondary: #853bce;

/* =======================================================
----------------------  BREAKPOINTS  ---------------------
======================================================= */
$screen-mobile-up: 575px;
$screen-tablet: 576px;
$screen-tablet-up: 767px;
$screen-desktop: 768px;
