/* =======================================================
------------------------  FONTS  -------------------------
======================================================= */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$font-primary: "Roboto", "Open Sans", sans-serif;

/* =======================================================
------------------------  COLORS  ------------------------
======================================================= */
// Background
$rf-bg-1: #0a0a0a;
$rf-bg-2: #222222;
$rf-bg-3: #36303a;

// Fonts
$font-primary-color: #f6f3fc;
$font-secondary-color: #853bce;
$font-paragraph-color: #c7c7c7;

/* =======================================================
----------------------  BREAKPOINTS  ---------------------
======================================================= */
$screen-mobile: 767px;
$screen-desktop: 768px;
