/* =======================================================
------------------------  FONTS  -------------------------
======================================================= */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

$font-primary: "Bebas Neue", "Open Sans", sans-serif;

$font-secondary: "Manrope", "Open Sans", sans-serif;

/* =======================================================
------------------------  COLORS  ------------------------
======================================================= */
// Background
$rf-bg-1: #0a0a0a;
$rf-bg-2: #222222;
$rf-bg-3: #36303a;

// Fonts
$font-primary-color: #f6f3fc;
$font-secondary-color: #853bce;
$font-paragraph-color: #c7c7c7;

/* =======================================================
----------------------  BREAKPOINTS  ---------------------
======================================================= */
$screen-mobile-up: 575px;
$screen-tablet: 576px;
$screen-tablet-up: 767px;
$screen-desktop: 768px;
