@import "./mixins.scss";
@import "./vars.scss";

* {
  @include reset();
}

/* =======================================================
------------------------  GLOBALS  -----------------------
======================================================= */

* {
  font-family: $font-secondary;
  color: $font-primary-color;
}

html,
body {
  background-color: $rf-bg-1 !important;
}

main {
  width: 100%;

  section {
    padding: 60px 0 100px 0;

    @include tablet-and-mobile {
      padding: 40px 0 80px 0;
    }

    &:nth-child(1) {
      padding: 0;
    }
  }
}

.bg-alter {
  background-color: $rf-bg-alter;
}

//////////
/// Fonts
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  margin: 0 !important;
  line-height: 1 !important;
}

p {
  margin: 0 !important;
  color: $font-paragraph-color;
  font-size: 18px;
  line-height: 22px;

  @include tablet-and-mobile {
    font-size: 16px;
    line-height: 20px;
  }
}

///////////
/// Button
.btn {
  border-radius: 25px !important;
  text-transform: uppercase;
  height: 50px;

  display: flex !important;
  justify-content: center;
  align-items: center;

  svg {
    background-color: unset;
  }
}

.btn-primary {
  background-color: $btn-color-primary !important;
  border: 1px solid $btn-color-primary !important;
  color: $btn-content-primary !important;
  font-weight: 700 !important;

  svg {
    fill: $btn-content-primary !important;
  }

  &:hover {
    background-color: $btn-color-primary-hover !important;
    border: 1px solid $btn-color-primary-hover !important;
  }

  &:active {
    background-color: $btn-color-primary-active !important;
    border: 1px solid $btn-color-primary-active !important;
  }
}

.btn-secondary {
  background-color: $btn-color-secondary !important;
  border: 1px solid $btn-color-secondary !important;
  color: $btn-content-secondary !important;
  font-weight: 700 !important;

  svg {
    fill: $btn-content-secondary !important;
  }

  &:hover {
    background-color: $btn-color-secondary-hover !important;
    border: 1px solid $btn-color-secondary-hover !important;
  }

  &:active {
    background-color: $btn-color-secondary-active !important;
    border: 1px solid $btn-color-secondary-active !important;
  }
}

.btn-circle {
  border-radius: 50% !important;
  width: 50px;
  font-size: 30px !important;
}

@mixin shared-styles() {
  .btn-circle {
    width: 40px;
    height: 40px;
    font-size: 20px !important;
  }
}

@include tablet() {
  @include shared-styles();
}

@include mobile() {
  @include shared-styles();
}

/////////////
/// Carousel
.carousel {
  height: 100%;
}

.carousel-inner {
  height: 100%;
  .carousel-item {
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
  }
}
