@import "./mixins.scss";
@import "./vars.scss";

* {
  @include reset();
}

/* =======================================================
------------------------  GLOBALS  -----------------------
======================================================= */

* {
  font-family: $font-secondary;
  color: $font-primary-color;
}

html,
body {
  background-color: $rf-bg-1 !important;
  width: 100%;
  overflow-x: hidden;
}

main {
  width: 100%;

  section {
    padding: 60px 0 100px 0;
    scroll-margin-top: 100px;

    @include tablet-and-mobile {
      padding: 40px 0 80px 0;
    }

    &:nth-child(1) {
      padding: 0;
    }
  }
}

.bg-alter {
  background-color: $rf-bg-2;
}

.mb-last {
  &:not(:last-child) {
    margin-bottom: 80px;
  }
}

//////////
/// Fonts
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  margin: 0 !important;
  line-height: 1 !important;
}

p {
  margin: 0 !important;
  color: $font-paragraph-color;
  font-size: 18px;
  line-height: 22px;

  @include tablet-and-mobile {
    font-size: 16px;
    line-height: 20px;
  }
}

.follow {
  font-size: 18px;
  font-weight: 600;
}

///////////
/// Button
.btn {
  border-radius: 25px !important;
  text-transform: uppercase;
  height: 50px;
  width: 100%;

  display: flex !important;
  justify-content: center;
  align-items: center;

  svg {
    background-color: unset;
    font-size: 3.5em !important;
  }
}

.btn-primary {
  background-color: $btn-color-primary !important;
  border: 1px solid $btn-color-primary !important;
  color: $btn-content-primary !important;
  font-weight: 700 !important;

  svg {
    fill: $btn-content-primary !important;
  }

  &:hover {
    background-color: $btn-color-primary-hover !important;
    border: 1px solid $btn-color-primary-hover !important;
  }

  &:active {
    background-color: $btn-color-primary-active !important;
    border: 1px solid $btn-color-primary-active !important;
  }
}

.btn-secondary {
  background-color: $btn-color-secondary !important;
  border: 1px solid $btn-color-primary !important;
  color: $btn-content-secondary !important;
  font-weight: 700 !important;

  svg {
    fill: $btn-content-secondary !important;
  }

  &:hover {
    background-color: $btn-color-secondary-hover !important;
    border: 1px solid $btn-color-primary !important;
  }

  &:active {
    background-color: $btn-color-secondary-active !important;
    border: 1px solid $btn-color-secondary-active !important;
  }
}

.btn-circle {
  border-radius: 50% !important;
  width: 50px;
  font-size: 30px !important;
}

@mixin shared-styles() {
  .btn-circle {
    width: 40px;
    height: 40px;
    font-size: 20px !important;
  }

  .btn {
    height: 40px;
  }
}

@include tablet() {
  @include shared-styles();
}

@include mobile() {
  @include shared-styles();
}

.btn-card {
  height: 25px !important;
  width: 25px !important;
  font-size: 12px !important;
  border-radius: 50% !important;

  span {
    line-height: 0;
    margin-top: 2px;
    font-weight: 600;
  }
}

/////////////
/// Carousel
.carousel {
  height: 100%;
}

.carousel {
  width: 100%;
  .carousel-inner {
    height: 100%;
    .carousel-item {
      height: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: fill;
        border-radius: 16px;
      }
    }
  }
}

//////////
/// Forms

form {
  display: flex;
  flex-direction: column;
  gap: 14px;

  label {
    margin-bottom: 6px;
  }

  input {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    padding: 0 10px;
    background-color: $form-color-bg;
  }

  textarea {
    width: 100%;
    border-radius: 8px;
    padding: 14px 10px;
    resize: vertical;
    background-color: $form-color-bg;
  }

  p {
    color: $color-danger;
    font-size: 12px;
    line-height: 12px;
    padding-top: 4px;
  }

  input {
    // Estilo do autofill para o Chrome, Safari, e Edge
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px $autofill-bg inset;
      box-shadow: 0 0 0 1000px $autofill-bg inset;
      -webkit-text-fill-color: $autofill-text-color;
      border-radius: 8px !important;
    }

    // Estilo do autofill para o Firefox
    &:-moz-autofill {
      box-shadow: 0 0 0 1000px $autofill-bg inset;
      -moz-text-fill-color: $autofill-text-color;
      border-radius: 8px !important;
    }

    // Estilo do autofill para o Safari quando em foco
    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 1000px $autofill-bg inset;
      box-shadow: 0 0 0 1000px $autofill-bg inset;
      -webkit-text-fill-color: $autofill-text-color;
      border-radius: 8px !important;
    }

    // Estilo do autofill para o Edge
    &:-ms-autofill {
      box-shadow: 0 0 0 1000px $autofill-bg inset;
      -ms-text-fill-color: $autofill-text-color;
      border-radius: 8px !important;
    }
  }

  select {
    display: flex;
    background-color: $form-color-bg;
    border-radius: 8px;
    padding: 10px;
    height: 50px;
    width: 100%;
  }
}

//////////////
/// Scrollbar
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $sc-thumb-color;
  border-radius: 6px;
}

::-webkit-resizer {
  border: none;
}

//////////
/// Table
table {
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid $rf-bg-alter !important;
  thead {
    tr {
      th {
        background-color: $rf-bg-alter !important;
        color: $font-primary-color !important;
      }
    }
  }
  tbody {
    tr {
      td,
      th {
        background-color: $rf-bg-2 !important;
        color: $font-paragraph-color !important;
      }
    }
  }
}

////////////
/// Message
.message-field {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid $font-paragraph-color;
  background-color: $form-color-bg;
}
