@import "./vars.scss";

@mixin reset() {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  color: $font-primary-color;
  a,
  a:hover {
    text-decoration: none;
    color: unset;
  }

  html,
  body {
    background-color: $rf-bg-1;
  }
}
