/* =======================================================
------------------------  FONTS  -------------------------
======================================================= */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$font-primary: "Roboto", "Open Sans", sans-serif;

/* =======================================================
------------------------  COLORS  ------------------------
======================================================= */
///////////////
/// Background
$rf-bg-1: #0a0a0a;

//////////
/// Fonts
$font-primary-color: #f6f3fc;
