@import "../../sass/_mixins.scss";
@import "../../sass/_vars.scss";

.component-project-card {
  .info-container {
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    padding: 10px 0;
    gap: 10px;

    span {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
    }

    .info {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
    }

    .wrapper {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 15px;

      span {
        font-size: 14px;
        font-weight: normal;
        border: 1px solid;
        padding: 0 10px;
        border-radius: 10px;
      }
    }

    @include mobile {
      align-items: flex-start;

      .wrapper {
        span {
          font-size: 10px;
        }
      }
    }
  }
}
