@import "../../sass/_vars";
@import "../../sass/_mixins";

main {
  .hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 100px !important;

    span {
      color: $font-secondary-color;
      font-weight: 600;
    }

    figure {
      border-radius: 16px;
      overflow: hidden;
      max-width: 70%;

      img {
        margin: 0;
      }
    }

    @include tablet-and-mobile {
      height: auto;
      padding-bottom: 80px !important;

      .col-text {
        align-items: center;
        text-align: center;
      }

      figure {
        height: 400px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}
