@import "../../sass/_vars";
@import "../../sass/_mixins";

.component-button-link {
  display: flex;
  width: fit-content;
  border-bottom: 2px solid;
  color: $font-secondary-color;
  transition: all 0.2s ease !important;
  display: pointer;

  a {
    .text {
      font-weight: 600;
      text-transform: uppercase;
      color: $font-secondary-color;
      margin-right: 5px;
      transition: all 0.2s ease !important;
    }
  }

  svg {
    fill: $font-secondary-color;
    transition: all 0.2s ease !important;
  }

  path {
    transform: scale(1.4);
    transform-origin: center;
  }

  &:hover {
    color: $font-secondary-color-hover;

    a {
      .text {
        color: $font-secondary-color-hover;
      }
    }

    svg {
      fill: $font-secondary-color-hover;
    }
  }
}
