@import "../../sass/_mixins";
@import "../../sass/_vars";

.admin-aside {
  width: 300px;
  min-height: 100vh;
  padding: 20px 10px 20px 40px;
  background-color: $rf-bg-2;

  .icon-container {
    cursor: pointer;
    width: 70px;
    height: 70px;
    margin-bottom: 50px;
    img {
      aspect-ratio: 1;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .link-active {
    color: $font-secondary-color !important;
    font-weight: 600;
    transition: color 0.3s ease, font-weight 0.3s ease;
  }

  .link- {
    font-weight: 400;
  }

  .collapse-container {
    padding: 8px 0 8px 12px !important;
    background-color: $rf-bg-1;

    li {
      transition: all 0.2s ease;
      padding: 5px 0 !important;

      &:hover {
        background-color: $rf-bg-2;

        a {
          padding-left: 6px;
        }
      }

      a {
        transition: all 0.2s ease;

        &:hover {
          padding-left: 6px;
        }
      }
    }
  }

  .collapse-btn {
    cursor: pointer;
  }
  svg {
    fill: $font-paragraph-color;
    font-size: 1.3rem;
    margin-left: 5px;
    padding-bottom: 2px;
  }
}
