@import "../../sass/_vars";
@import "../../sass/_mixins";

.component-button-link {
  display: flex;
  width: fit-content;
  border-bottom: 2px solid;
  color: $font-secondary-color;
  transition: all 0.2s ease !important;
  display: pointer;

  .text {
    font-weight: 600;
    text-transform: uppercase;
    color: $font-secondary-color;
    margin-right: 5px;
    transition: all 0.2s ease !important;
    font-size: 18px !important;
  }

  svg {
    fill: $font-secondary-color;
    transition: all 0.2s ease !important;
    font-size: 20px;
  }

  path {
    transform: scale(1.4);
    transform-origin: center;
  }

  &:hover {
    color: $font-secondary-color-hover;

    .text {
      color: $font-secondary-color-hover;
    }

    svg {
      fill: $font-secondary-color-hover;
    }
  }

  @include mobile {
    .text {
      font-size: 14px !important;
    }

    svg {
      font-size: 16px;
    }
  }
}
