@import "../../sass/_vars.scss";
@import "../../sass/_mixins.scss";

.component-client-footer {
  min-height: 120px;
  background-color: $rf-bg-2;
  @include df-alc();

  @include tablet-and-mobile() {
    padding: 10px;
  }

  p {
    margin: 0;
  }

  .icon-container {
    width: 40px;
    height: 40px;

    img {
      aspect-ratio: 1;
    }
  }

  ul {
    display: flex;
    gap: 15px;

    li {
      transition: all 0.2s ease;

      &:hover {
        color: $font-secondary-color;
        font-weight: 500;
      }
    }
  }

  .left-side {
    display: flex;
    align-items: center;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .right-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  @include tablet-and-mobile {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .left-side {
      order: 3;
      justify-content: center;
    }

    .center {
      order: 1;
      margin-bottom: 15px;
    }

    .right-side {
      order: 2;
      justify-content: center;
      margin-bottom: 15px;
    }
  }
}
