@import "../../sass/_vars";
@import "../../sass/_mixins";

.component-experience-card {
  border-radius: 10px;
  padding: 16px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  background-color: $rf-bg-1;
  margin-bottom: 30px;

  .position-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 10px;

    .experience-position {
      font-size: 20px;
      font-weight: 600;

      @include mobile {
        display: block;
      }
    }

    .date {
      text-transform: capitalize;
      font-size: 16px;
    }
  }

  .company {
    font-weight: 600;
    font-size: 18px;
    color: $font-secondary-color;
    margin-bottom: 10px;
  }

  @include mobile {
    margin-bottom: 20px;
    .position-container {
      display: block;

      .position {
        font-size: 20px;
        display: block;
      }

      .date {
        font-size: 16px;
      }
    }

    .company {
      font-size: 18px;
    }
  }
}
