@import "../../sass/_mixins";
@import "../../sass/_vars";

.component-admin-header {
  background-color: $rf-bg-2;
  height: 100px;
  display: flex;

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;

    .bar {
      height: 2px;
      width: 100%;
      background-color: $font-primary-color;
      border-radius: 10px;
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 26px;
    position: relative;

    svg {
      cursor: pointer;
      fill: $font-primary-color;
      font-size: 28px;
    }

    .img-container {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $btn-border-primary;
      cursor: pointer;

      img {
        width: auto;
        height: 200%;
        object-fit: cover;
        object-position: 1px 15px;
      }
    }

    .dropdown-container {
      position: absolute;
      bottom: -90px;
      right: 0;
      min-width: 200px;
      background-color: $rf-bg-2;
      padding: 0 10px 10px 10px;

      ul {
        li {
          font-size: 16px;
          margin-bottom: 20px;
          height: 30px;
          text-align: end;
          cursor: pointer;
          transition: all 0.2s ease;

          svg {
            fill: $font-primary-color;
            margin-right: 6px;
            font-size: 16px;
          }

          &:hover {
            background-color: $rf-bg-1;
            padding-right: 6px !important;
          }
        }
      }
    }
  }
}
