@import "../../sass/_vars";
@import "../../sass/_mixins";

.component-education-card {
  border-radius: 10px;
  padding: 16px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  background-color: $rf-bg-1;

  .course {
    font-size: 24px;
    font-weight: 600;
  }

  .date {
    text-transform: capitalize;
  }

  .institution,
  .workload {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    color: $font-secondary-color;
    margin-bottom: 10px;
  }
}
