@import "../../sass/_vars";
@import "../../sass/_mixins";

.progress-bar-container {
  width: 100%;
  background-color: $rf-bg-2;
  border-radius: 25px;
  overflow: hidden;
}

.progress-bar {
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: $font-paragraph-color;
}
