@import "../../sass/_vars";

main {
  .hero-section {
    width: 100%;
    height: calc(100vh - 30px);
    display: flex;
    align-items: center;

    span {
      color: $font-secondary-color;
      font-weight: 600;
    }
  }
}
